<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8"/>
<title>S2T Betas</title>
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link href="//use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet"/>
<script src="/socket.io/socket.io.js"></script>
<meta name="viewport" content="width=device-width,initial-scale=1"/>

<link rel="shortcut icon" href="/icon.png" type="image/png"/>
<link rel="icon" href="/icon.png" type="image/png"/>
<link rel="apple-touch-icon" href="/icon.png"/>

<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="apple-mobile-web-app-title" content="S2T Betas"/>

<style type="text/css">
html, body{
  text-align: center;
  background-color: #fafafa;
  font-size: 20px;
  color: #333;
}
.result_p{
  text-align: left;
  font-size: 12px;
}

.result_final{
  color: #333;
  font-weight: bold;
}

.result_final0{
  color: #833;
  font-weight: bold;
}

.result_final1{
  color: #383;
  font-weight: bold;
}

.result_final2{
  color: #338;
  font-weight: bold;
}

.result_final3{
  color: #388;
  font-weight: bold;
}

.result_final4{
  color: #838;
  font-weight: bold;
}

.result_final5{
  color: #883;
  font-weight: bold;
}

.balloon1, .ballooned1 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}

.balloon1:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
}

.ballooned1{
  width: 90%;
  margin: 0.2em 0 !important;
  background: #ffede0;
}

.ballooned2{
  background: #ede0ff;
}

.balloon1 p {
  margin: 0;
  padding: 0;
}

.ballooned2{
  background: #edffe0;
}

.no_decoration{
  text-decoration: none;
}
</style>
</head>
<body>

<div>
<table class="table">
  <tr>
    <td>
      <select id="select_voice" name="select_voice">
      </select>
    </td>
    <td>
      <input type="button" class="btn btn-xs btn-primary" id="post_btn" value="POST" onClick="postAudio();"/>
    </td>
  </tr>
</table>
</div>

<div id="audio_div">
</div>

<div id="result_div">
</div>

<div class="modal bd-example-modal-lg fade" id="wdModal" tabindex="-1" role="dialog" aria-labbelledby="wdModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="wdModalLabel"></h4>
      </div>
      <div class="modal-body" id="wdmodal-body">
      </div>
    </div>
  </div>
</div>

<script>
var uuid = generateUUID();
var socketio = null;
var idx = -1;
var idxtexts = [];
var idxballooned = {};
var last_timestamp_second = 0;

var base_url = location.origin + '/';

$(function(){
  socketio = io.connect();
  init();
});

function init(){
  $('#select_voice').html( '' );
  $.ajax({
    type: 'GET',
    url: '/files',
    success: function( result ){
      if( result && result.status ){
        for( var i = 0; i < result.files.length; i ++ ){
          var opt = '<option value="' + result.files[i] + '">' + result.files[i] + '</option>';
          $('#select_voice').append( opt );
        }
      }
    },
    error: function( e0, e1, e2 ){
      console.log( e0, e1, e2 );
    }
  });

  //. 初期化を通知
  var msg = {
    uuid: uuid,
    timestamp: ( new Date() ).getTime()
  };
  socketio.emit( 'init_client', msg );

  socketio.on( 'init_client_view', function( msg ){
    console.log( 'init_client_view', msg );
  });

  socketio.on( 'event_client_view', function( evt ){
    if( 'result_index' in evt ){
      //console.log( 'event_client_view', evt );
      /*
      evt = {
        result_index: 1,
        results: [
          {
            final: false,
            alternatives: [
              {
                transcript: "xxx xxxx xx xxxxxx ...",
                timestamps: [
                  [ "xxx", 15.55, 16.04 ],
                  [ "xxxx", 16.25, 16.6 ],
                  [ "xx", 16.6, 16.71 ],
                  [ "xxxxxx", 16.71, 17.21 ],
                    :
                ]
              }
            ]
          }
        ]
      }
      */

      var timestamps = evt.results[0].alternatives[0].timestamps;
      var text = generateText( evt.results[0].alternatives[0].timestamps );
      var idxtext = { index: evt.result_index, text: text /*evt.results[0].alternatives[0].transcript*/, timestamp_second: timestamps[timestamps.length-1], final: evt.results[0].final };
      idxtexts.push( idxtext );
      //console.log( '0', last_timestamp_second, idxtexts );
      if( last_timestamp_second == 0 ){
        var ms = 1000;
        var before = Date.now();
        while( Date.now() < before + ms ){};
        showNextText();
      }
    }else if( 'speaker_labels' in evt ){
      /* スピーカーラベル
      {
        speaker_labels: [
          { 
            from: 0.36,
            to: 0.84,
            speaker: 0,
            confidence 0.67,
            final: false
          },
          {
            from: 0.84,
            to: 1.35,
            speaker: 0,
            confidence: 0.67,
            final: false
          },
            :
          {
            from: 4.13,
            to: 4.7,
            speaker: 1,
            confidence: 0.67,
            final: false
          }
        ]
      }
      */
      showSpeakerLabels( evt.speaker_labels );
    }
  });
}

function postAudio(){
  var voice = $('#select_voice').val();

  //. フォームにして送信
  var data = {
    voice: voice,
    timestamp: ( new Date() ).getTime(),
    uuid: uuid
  };

  var audio = '<audio controls autoplay>'
    + '<source src="/' + voice + '" type="audio/mp3"/>'
    + '</audio>';
  $('#audio_div').html( audio );
  $('#result_div').html( '' );
  idx = -1;
  idxtexts = [];
  idxballooned = {};

  //. Ajax 実行
  $.ajax({
    type: 'POST',
    url: '/voice',
    data: data,
    success: function( data, dataType ){
      //. 実際はずっと処理中になるので、しばらく結果はかえって来ない
      console.log( data );
    },
    error: function( jqXHR, textStatus, errorThrown ){
      console.log( textStatus + ': ' + errorThrown );
    }
  });
}

function myReplace( text, src, dst ){
  text = '' + text;
  return text.split( src ).join( dst );
}

function generateText( timestamps ){
  /*
  timestamps: [
    [ "音声", 0.36, 0.84 ],
    [ "メッセージ", 0.84, 1.35 ],
    [ "が", 1.35, 1.59 ],
       :
    [ "実現", 4.13, 4.7 ]
  ]
  */
  var text = '';

  for( var i = 0; i < timestamps.length; i ++ ){
    var timestamp = timestamps[i];
    var span = '<span id="ts-' + myReplace( timestamp[1], '.', '_' ) + '-' + myReplace( timestamp[2], '.', '_' ) + '">' + timestamp[0] + '</span>';
    text += span;
  }

  return text;
}

function showNextText(){
  //console.log( '1', last_timestamp_second, idxtexts );
  if( idxtexts.length > 0 ){
    var idxtext = idxtexts[0];
    idxtexts.splice( 0, 1 );

    if( idx < idxtext.index ){
      idx = idxtext.index;
      $('#result_div').append( '<div id="result_div_' + idx + '" class="balloon1"><p class="result_p" id="result_p_' + idx + '"></p></div>' );
    }
    
    $('#result_p_'+idxtext.index).html( idxtext.text );
    if( idxtext.final ){
      $('#result_div_'+idxtext.index).removeClass( 'balloon1' );
      $('#result_div_'+idxtext.index).removeClass( 'balloon2' );
      $('#result_div_'+idxtext.index).addClass( 'ballooned1' );
      $('#result_p_'+idxtext.index).addClass( 'result_final' );
    }

    if( idxtexts.length > 0 ){
      last_timestamp_second = idxtext.timestamp_second[2];
      var next_timestamp_second = idxtexts[0].timestamp_second[2];
      var msec = Math.floor( Math.abs( ( next_timestamp_second - last_timestamp_second ) * 1000 ) );
      console.log( next_timestamp_second, last_timestamp_second, msec );

      var before = Date.now();
      while( Date.now() < before + msec ){};
      showNextText();
    }else{
      last_timestamp_second = 0;
    }
  }else{
    last_timestamp_second = 0;
  }
}

function showSpeakerLabels( speaker_labels ){
  /* スピーカーラベル
  speaker_labels: [
    { 
      from: 0.36,
      to: 0.84,
      speaker: 0,
      confidence 0.67,
      final: false
    },
    {
      from: 0.84,
      to: 1.35,
      speaker: 0,
      confidence: 0.67,
      final: false
    },
      :
    {
      from: 4.13,
      to: 4.7,
      speaker: 1,
      confidence: 0.67,
      final: false
    }
  ]
  */
  for( var i = 0; i < speaker_labels.length; i ++ ){
    var speaker_label = speaker_labels[i];
    if( speaker_label /*&& speaker_label.final*/ ){
      var id = "ts-" + myReplace( speaker_label.from, '.', '_' ) + "-" + myReplace( speaker_label.to, '.', '_' );
      $('#'+id).addClass( 'result_final' + speaker_label.speaker );
    }
  }
}

function generateUUID(){
  //. Cookie の値を調べて、有効ならその値で、空だった場合は生成する
  var did = null;
  cookies = document.cookie.split(";");
  for( var i = 0; i < cookies.length; i ++ ){
    var str = cookies[i].split("=");
    var une = unescape( str[0] );
    if( une == " deviceid" || une == "deviceid" ){
      did = unescape( unescape( str[1] ) );
    }
  }

  if( did == null ){
    var s = 1000;
    did = ( new Date().getTime().toString(16) ) + Math.floor( s * Math.random() ).toString(16);
  }

  var dt = ( new Date() );
  var ts = dt.getTime();
  ts += 1000 * 60 * 60 * 24 * 365 * 100; //. 100 years
  dt.setTime( ts );
  var value = ( "deviceid=" + did + '; expires=' + dt.toUTCString() + '; path=/' );
  if( isMobileSafari() ){
    $.ajax({
      url: '/setcookie',
      type: 'POST',
      data: { value: value },
      success: function( r ){
        //console.log( 'success: ', r );
      },
      error: function( e0, e1, e2 ){
        //console.log( 'error: ', e1, e2 );
      }
    });
  }else{
    document.cookie = ( value );
    //console.log( 'value: ', value );
  }

  return did;
}

function isMobileSafari(){
  return ( navigator.userAgent.indexOf( 'Safari' ) > 0 && navigator.userAgent.indexOf( 'Mobile' ) > 0 );
}
</script>
</body>
</html>
